/* Add this CSS to your AboutUs.css file */
team-list-container {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center the content */
    padding: 15px 15px; /* Adjust padding as needed */
    position: relative; 
    text-decoration: none;
    margin-right: 50px; 
}

.h20 {
    color: gray;
    transition: transform 2.0s ease; /* Smooth transition for transform */
    transform: scale(1.4);
    transform: translateZ(100px); /* Move forward */
    margin: 10px;
    padding: 20px;
    display: flex;

}

.meet-team {
    color: black
    transition: transform 2.0s ease; /* Smooth transition for transform */
    transform: scale(1.4);
    transform: translateZ(100px); /* Move forward */
    margin: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: 50px;
    text-decoration: none;
    display: flex;
}

.about-us {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    position: relative;
    margin: 10px;
    padding: 15px 15px;
    margin-left: auto;
    margin-right: 50px;
 
    
}

.team-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.team-list li {
    width: 200px;
    padding: 10px;
    text-align: center;
    font-size: 14px; /* Adjust the font size as needed */
    cursor: pointer;
}

.team-list li > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.9s ease; /* Smooth transition for transform*/
} 
 
.team-list li img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
} 
 
.team-list li p {
    margin: 0;
    cursor: pointer;
    transition: background-color 0.9s ease; /* Smooth transition for background color */
} 
 
.bio {
    display: none; /* Initially hide the biography */
    font-size: 14px; /* Adjust the font size as needed */
}

.expanded {
    transform: translateZ(100px); /* Move forward */
    transform: scale(1.4); /* Scale up when expanded */
}


.expanded img {
    transform: scale(1.4); /* Enlarge the image */
    padding-bottom: 30px;
}

.expanded .bio {
    display: block; /* Show the biography */
} 

Apply hover effect to headings and paragraph
h2:hover,
h4:hover,
h20:hover,
.team-list li p:hover {
    font-size: 2em; /* Increase font size */
    transition: font-size 0.9s ease; /* Smooth transition */
}

.team-list li p.active {
    background-color: #88a783; /* Change to the desired highlight color */
}

.member {
    transition: transform 0.9s ease; /* Smooth transition for transform */
}

@media (
    max-width: 700px;
) {
    .h20 {
        padding: 15px;
        margin: 5px;
    }
}